body {
	background: #1a1a1a;
}

.ui-content {
	padding: 0 3rem;
}

.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
	margin: -1em -3rem;
}

.ui-bar-s {
    background: #1a1a1a;
	border: none;
	padding: 1em 0;
}

.ui-footer.ui-bar-s {
	background: #f1c40f;
	padding: 0;
}

.ui-footer.ui-bar-s .ui-btn-s {
	background: #f1c40f;
	color: #1a1a1a;
}

.ui-footer.ui-bar-s .ui-btn-s.active {
	background: #1a1a1a;
	color: #f1c40f;
}

.ui-bar-s .ui-title {
	margin: 0 auto;
}

.ui-page-theme-s {
    background-color: #1a1a1a;
}

.ui-btn {
	color: #f1c40f;
}

.ui-btn-s {
	color: #333333;
	background: #f1c40f;
}

.ui-body-s {
	background: #333;
	color: #FFF;
}

.ui-listview {
	color: #f1c40f;
	font-family: 'Open Sans';
	font-size: 1.6rem;
}

.ui-listview > .ui-li-static {
	overflow: hidden;
	border-color: rgba(255,207,15,0.2);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.ui-header .ui-btn {
	margin: 1.5rem 0;
}

.ui-input-text input, .ui-input-search input {
	padding: 1rem;
	background: #333;
	color: #FFF;
	font-size: 1.2rem;
}