<?xml version='1.0' encoding='utf-8'?>
<widget id="com.souschef.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sous Chef</name>
    <description>
        Tu asistente de cocina.
    </description>
    <author email="merloleandro@gmail.com" href="http://leomerlo.com">
        Leo Merlo
    </author>

    <platform name="ios" />
	<platform name="android" />
	<platform name="winphone" />

	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" /> 
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="splashScreenDelay" value="6000" /> 

    <content src="index.html" />
    <access origin="*" />
</widget>
