<?xml version='1.0' encoding='utf-8'?>
<widget id="com.souschef.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sous Chef</name>
    <description>
        Tu asistente de cocina.
    </description>
    <author email="merloleandro@gmail.com" href="http://leomerlo.com">
        Leo Merlo
    </author>

    <preference name="permissions" value="none"/>

    <preference name="target-device" value="universal" />

    <preference name="android-minSdkVersion" value="7" /> 
	
    <preference name="android-installLocation" value="auto" />

	<preference name="splashScreenDelay" value="4000" />

	<platform name="android" />

	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-media-capture" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-device-motion" />
	<plugin name="cordova-plugin-device-orientation" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-file-transfer" />
	<plugin name="cordova-plugin-splashscreen" />   

    <icon src="icon.png" />	
    <platform name="android">
	    <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
	    <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
	    <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
	    <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
		<icon src="res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" />
		<icon src="res/icon/android/icon-192-xhdpi.png" density="xxxhdpi" />
	</platform>

	<splash src="splash.png" />	
	<platform name="android">
		<splash src="res/screen/android/screen-mdpi-portrait.png" density="mdpi" />		
		<splash src="res/screen/android/screen-hdpi-portrait.png" density="hdpi" />
	    <splash src="res/screen/android/screen-ldpi-portrait.png" density="ldpi" />
		<splash src="res/screen/android/screen-xhdpi-portrait.png" density="xhdpi" />
	</platform>

    <content src="index.html" />
    <access origin="*" />
</widget>
