<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.davinci.ejemplo"
        version   = "0.1.0">
	
    <!-- Esta etiqueta define el NOMBRE de la app (con él va a figurar tanto en el store como en el dispositivo) -->
    <name>Sous Chef</name>

    <!-- Descripción para el Play Store -->
    <description>
        Asistente de cocina.
    </description>

    <!-- Los datos del autor para el PlayStore -->
    <author href="http://www.leomerlo.com" email="merloleandro@gmail.com">
        	Leandro Merlo
    </author>
	
	<platform name="android" />

    <preference name="permissions" value="none"/>
	
	<preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" /> 
    <preference name="fullscreen" value="true" /> 
    <preference name="webviewbounce" value="false" /> 
    <preference name="android-minSdkVersion" value="7" /> 
    <preference name="android-installLocation" value="auto" /> 
	<preference name="splashScreenDelay" value="4000" />

	<plugin name="cordova-plugin-camera" source="npm" />
	<plugin name="cordova-plugin-file" source="npm" />
	<plugin name="cordova-plugin-media" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	
	<plugin name="cordova-plugin-statusbar" source="npm"/>
	<preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ffff00" />
    <preference name="StatusBarStyle" value="lightcontent" />
	
	<!--style: default lightcontent, blacktranslucent, blackopaque.-->

    <icon src="icon.png" />
    
  	<gap:splash src="splash.png" />

	<access /> 	
	
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>